{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="../css/music.css">
    <link href="/css/clusterize.css" rel="stylesheet">
{% endblock %}


{% block body %}

    <div class="container">
        <form onsubmit="play(); return false;">
            <input id="song-input" placeholder="Type to filter, or paste a YouTube URL" value="" autocomplete="off"
                   onkeyup="filter()">
            <h6 id="last-message" class="grey-text"></h6>
            <input type="submit" class="music-stop btn red" value="STOP" onmousedown="stopPlayback()"/>
            <input type="submit" class="music-right btn orange" value="SKIP" onmousedown="skipTrack()"/>
        </form>

        <br/>

        <table id="music-list"></table>
        <table id="music-list-table" style="width:100%" class="centered bordered">
            <tbody id="music-list-tbody">

            </tbody>
        </table>


        <div class="clusterize">
            <div id="scrollArea" class="clusterize-scroll">
                <table>
                    <tbody id="contentArea" class="clusterize-content">
                    <tr class="clusterize-no-data">
                        <td>Loading music list…</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block post_js %}
    <script src="/js/clusterize.min.js"></script>

    <script type="application/javascript">
        function play() {
            var songInput = document.getElementById('song-input');
            if (songInput.value === '') {
                return;
            }
            showProgress();

            var url = "music/play_song";

            var song = songInput.value.toLowerCase();
            if (song.indexOf("youtube") !== -1 || song.indexOf("youtu.be") !== -1) {
                url = "music/play_youtube";
            }
            $.get(url + "?song=" + songInput.value, function () {
                hideProgress();
                $("input").blur();
            });
            songInput.value = '';
            filter();
        }

        function stopPlayback() {
            showProgress();
            $.get("music/stop_playback", function () {
                hideProgress();
                $("input").blur();
            });
        }

        function skipTrack() {
            showProgress();
            $.get("music/skip_track", function () {
                hideProgress();
                $("input").blur();
            });
        }

        $(document).ready(function () {
            getMusicList();
        });


        data = [];
        var clusterize;

        function getMusicList() {
            $.get("music/list", function (musicList) {
                // $("#music-container").html(musicList);

                data = [];
                $.each(musicList, function (index, songName) {
                    var rowItem = "<tr>" +
                        "<td>" + songName + "</td>" +
                        "<td><a class='quick-play-song' href='#' onclick='playSong(\"" + songName + "\")'>Queue</a></td>" +
                        "</tr>";

                    data.push({
                        songName: songName,
                        markup: rowItem,
                        active: true
                    });
                });

                clusterize = new Clusterize({
                    rows: filterRows(data),
                    scrollId: 'scrollArea',
                    contentId: 'contentArea',
                    blocks_in_cluster: 20
                });
            });
        }

        var filterRows = function (rows) {
            var results = [];
            for (var i = 0, ii = rows.length; i < ii; i++) {
                if (rows[i].active) {
                    results.push(rows[i].markup)
                }
            }
            return results;
        };

        var filter = function () {
            var input, filter;
            input = document.getElementById("song-input");
            filter = input.value.toUpperCase();

            for (var i = 0, ii = data.length; i < ii; i++) {
                var suitable = false;
                if (filter === "" || data[i].songName.toUpperCase().indexOf(filter) > -1) {
                    suitable = true;
                }

                data[i].active = suitable;
            }

            // for (var i = 0, ii = data.length; i < ii; i++) {
            //     var suitable = false;
            //
            //     for (var j = 0, jj = data[i].songName.length; j < jj; j++) {
            //         if (data[i].songName[j].toString().indexOf(document.getElementById('song-input').value) + 1) {
            //             suitable = true;
            //         }
            //     }
            //     data[i].active = suitable;
            // }
            clusterize.update(filterRows(data));
        };

        function playSong(song) {
            showProgress();
            $.get("music/play_song?song=" + song, function () {
                hideProgress();
                $("input").blur();
            });
        }

        function filter2() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("song-input");
            filter = input.value.toUpperCase();
            table = document.getElementById("music-list-table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock %}
